[*.cs]

# IDE0055: Biçimlendirme Düzeltme
dotnet_diagnostic.IDE0055.severity = none

# CS8618: Null atanamaz alan, oluşturucudan çıkış yaparken null olmayan bir değer içermelidir. Alanı null atanabilir olarak bildirmeyi düşünün.
dotnet_diagnostic.CS8618.severity = suggestion
